/*--------------------------------------------Background colors*/

body {
    background-color: #eeeeee;
}

.navbar-default {
    background-color: #222930;
    height: 75px;
    z-index: 1;
    text-align: center;
    margin: 0;
    border: none;
    border-radius: 0;
}

.navbar-logo {
    display: inline-block;
}

/*--------------------------------------------Alert*/

.alert {
    padding: 15px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-warning a {
    text-decoration: none;
}

/*--------------------------------------------Navbar*/

.navbar-right li {
    padding-top: 10px;
    background-color: #222930;
}



.navbar-default .navbar-nav>li>a {
    color: #eeeeee;
    text-align: center;
    background-color: #222930;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;

}

.navbar-default .navbar-nav>li>a:hover {
    color: #337ab7;

}


.navbar-toggle {
    margin-top: 22px;
}

/*--------------------------------------------Body*/

.main-section {
    margin: 0;
}

.wrapper {
    overflow: auto;
}

.bandimage1 {
    text-align: center;

}

.bandimage1 a {
    text-decoration: none;
    color: #337ab7;

}

.bandimage1 img {
    border-radius: 12px;
    margin: 0px 0px 40px 0px;

}

.bandimage1 p {
    font-size: 17px;
    font-family: 'Chivo', sans-serif;
    font-weight: 300;

}

.bandimage1 h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: italic;
}

.weareback-header {
    margin-bottom: 20px;

}

.weareback-header h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: italic;
}

.band-header {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: italic;
}

.member-info {
    margin-bottom: 20px;
}

.member-info h3 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-style: italic;
}

.member-info p {
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.member-info img {
    margin-bottom: 20px
}

.member-info a {
    text-decoration: none;
    color: #337ab7;
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 3px solid #222930;
    width: 5%;
}

.readmore {
    text-decoration: none;
}



/*--------------------------------------------Contact-page*/

.contact-header {
    text-align: center;
}

.contact-header h3 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-style: italic;
}

.contact-header h5 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-style: italic;
}

.customer-quotes p {
    font-size: 17px;
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
}

.event-date {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.date-lable {
    border-radius: 0;
    font-size: 100%;
    text-align: left;
    white-space: normal;
    color: inherit;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;

}

.center-form header {
    display: block;
    padding: 10px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background: rgba(248, 248, 248, .9);
    font-size: 20px;
    font-weight: 300;
    color: #232323;
}

.center-form fieldset {
    display: block;
    padding: 15px 30px 5px;
    border: none;
    background: rgba(255, 255, 255, .9);
}

.form-footer {
    display: block;
    padding: 5px 30px 15px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    background: rgba(248, 248, 248, .9);
}

.center-form .input-style {
    margin-bottom: 5px;
}

.quotes {
    margin-top: 10px;
}

button[type=submit] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #337ab7;
    color: #fafafa;
}

/*--------------------------------------------Tour-page*/

.main-image {
    height: 50vh;
    background: url(../images/monkees.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
    position: relative;
}

.events-header {
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-style: italic;

}

/*----------------------------------------------Music*/

.latest-music-header {
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-style: italic;
}

.music-player {
    text-align: center;
    margin-bottom: 20px;
}

.tickets-table {
    text-align: center;
}

.tickets-table a {
    text-decoration: none;
}

.tickets-table th {
    text-align: center;
}

.video-width {
    width: 70%;
}

/*-------------------------------------------- Footer*/

.main-footer {
    background-color: #222930;
    height: 75px;
    margin-top: 0;
    text-align: center;
}

.mobile-social {
    padding-top: 16.5px;
}

.list-inline {
    display: inline-block;
    font-size: 30px
}


footer i:hover {
    color: #337ab7;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

footer li a i {
    color: #eeeeee;
    text-align: center;
    letter-spacing: 40px
}

/*---------------------------------------------media query*/

@media (min-width: 768px) {
    .bandimage1 img {
        float: right;
        margin: 0px 0px 40px 80px;
        width: 400px;
    }
    .enter-image h1 {
        font-size: 50px;
    }

    .tour-locations {
        margin-top: 20px;
        margin-bottom: 20px;

    }
    .center-form {
        padding-top: 10px;
        margin: 0 auto;
        max-width: 90%;

    }
    .video-width {
        width: 70%;
    }
}

@media (min-width:991px) {
    .video-width {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .footer-contact {
        visibility: hidden;
    }

    .mobile-social {
        text-align: center;
    }

    .social-links {
        text-align: center;

    }

    .footer li a i {
        color: #fafafa;
        text-align: center;
        letter-spacing: 30px
    }

    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }


}
