/*--------------------------------------------Background colors*/

.navbar-default {
    background-color: #222930;
    height: 75px;
}


/*--------------------------------------------Navbar*/

.navbar-right {

    margin: 0;
}

.navbar-right li {
    padding: 15px;
    background-color: #222930;
}



.navbar-default .navbar-nav>li>a {
    color: white;
    text-align: center;
    background-color: #222930;

}

.navbar-default .navbar-nav>li>a:hover {
    color: #337ab7;

}


.navbar-toggle {
    margin-top: 22px;
}

.navbar-collapse{
    
}

/*-------------------------------------------- Footer*/

.main-footer {
    background-color: #222930;
    height: 75px;
    margin-top: 0;
    text-align: center;
}

.mobile-social{
    padding-top: 16.5px;
}

.list-inline {
    display: inline-block;
    font-size: 30px
}


footer i:hover {
    color: #337ab7;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

footer li a i {
    color: #fafafa;
    text-align: center;
    letter-spacing: 40px
}

/*---------------------------------------------media query*/

@media (max-width: 768px) {
    .footer-contact {
        visibility: hidden;
    }

    .mobile-social {
        text-align: center;
    }

    .social-links {
        text-align: center;

    }
    
    .footer li a i {
    color: #fafafa;
    text-align: center;
    letter-spacing: 30px
}
